.carousel-img {
  width: 100%;
  height: 60vh;
  object-position: center;
}

/* Cover mode: crop images to fill the space */
.carousel-img-cover {
  object-fit: cover;
  background-color: transparent;
}

/* Contain mode: show full image with white background */
.carousel-img-contain {
  object-fit: contain;
  background-color: white;
}

.fade-in {
  transition: opacity 1s ease;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease;
}

@media screen and (max-width: 600px){
  .carousel-img{
    height: 40vh;
  }
}