.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 80px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.rightSide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.b-eco_ai {
    height: 60px;
}

@media screen and (max-width: 600px) {
    .b-eco_ai{
        display: none;
    }
}

.b-eco_logo {
    width: 120px;
    height: 60px;
}

/* @media screen and (max-width: 780px) {
    .b-eco_logo{
        width: 0;
        height: 0;
    }
} */

.navSection {
    font-size: 1rem;
    color: #006733;
}

.block {
    font-size: 1rem;
    display: flex;
    cursor: pointer;
    height: 100%;
    min-width: 64px;
    align-items: center;
    padding-inline: 1rem;
    color: #006733;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.block:hover {
    color: #ffffff;
    background-color: #006733;
    transition: 0.3s;
}

/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
    height: 100%;
}

/* Dropdown toggle */
.dropdown-toggle {
    cursor: pointer;
}

/* Dropdown menu - hidden by default */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* Dropdown items */
.dropdown-item {
    display: block;
    padding: 12px 16px;
    color: #006733;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.dropdown-item:hover {
    background-color: #006733;
    color: #ffffff;
}